{% extends 'base.html' %}
{% block title %}
    系统管理
{% endblock %}
{% block head %}
    <style>
    .operator {
            width: 240px;
        }

        .operator > a {
            width: 80px;
            display: inline-table;
            background: #3c8dbc;
            color: #fff;
            height: 25px;
            line-height: 25px;
            margin-right: 5px;
        }
    </style>
{% endblock %}
{% block main_header %}
    <h1>
        系统用户
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 系统管理</a></li>
        <li class="active">系统用户</li>
    </ol>
{% endblock %}

{% block main %}
    <div class="box-header" style="overflow: hidden;">
        <form class="form-inline" method="post" action="{{ url_for('admin.users_view') }}">
            <div class="form-group">
                <label class="sr-only" for="username"></label>
                <div class="input-group">
                    <input type="text" class="form-control" id="username" placeholder="用户名称" name="username">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
            <a href="{{ url_for('admin.user_add') }}" class="btn btn-primary pull-right">用户添加</a>
        </form>
    </div>
    <div class="box-body">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="text-center">用户名</th>
                <th class="text-center">登录名</th>
                <th class="text-center">用户状态</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="text-center">{{ user.username }}</td>
                    <td class="text-center">{{ user.nickname }}</td>
                    <td class="text-center">
                        {% if user.active == 1 %}
                            <span class="text-success">激活</span>
                        {% else %}
                            <span class="text-warning">禁用</span>
                        {% endif %}
                    </td>
                    <td class="text-center operator">
                        <a href="{{ url_for('admin.user_update',user_id=user.id) }}">编辑</a>
                        <a href="{{ url_for('admin.user_delete',user_id=user.id) }}">删除</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-center" colspan="4">暂无数据</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}