{% extends 'base.html' %}
{% block title %}
    系统管理
{% endblock %}
{% block head %}
    <style>
        .form-container {
            width: 500px;
            margin: 10px auto;
        }

        ul {
            list-style: none;
        }

        #active > li {
            float: left;
            margin-right: 3px;
        }
    </style>
{% endblock %}
{% block main_hader %}
    <h1>
        用户信息
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 用户管理</a></li>
        <li class="active">用户添加</li>
    </ol>
{% endblock %}

{% block main %}
    <div class="box-header">
        <h2 class="text-center">用户添加</h2>
    </div>
    <div class="box-body">
        <div class="form-container">
            <form class="form-horizontal" method="post">
                {{ form.hidden_tag() }}
                <div class="card-body">
                    <div class="form-group row">
                        <label for="inputname" class="col-sm-2 col-form-label">{{ form.username.label }}</label>
                        <div class="col-sm-10">
                            {{ form.username(class_='form-control', placeholder="",id='inputname') }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputcode" class="col-sm-2 col-form-label">{{ form.nickname.label }}</label>
                        <div class="col-sm-10">
                            {{ form.nickname(class="form-control", id="inputcode", placeholder="") }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputcode1" class="col-sm-2 col-form-label">{{ form.password.label }}</label>
                        <div class="col-sm-10">
                            {{ form.password(class="form-control", id="inputcode1", placeholder="") }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputcode" class="col-sm-2 col-form-label">{{ form.active.label }}</label>
                        <div class="col-sm-10">
                            {{ form.active(class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputcode" class="col-sm-2 col-form-label">{{ form.remark.label }}</label>
                        <div class="col-sm-10">
                            {{ form.remark(class="form-control", placeholder="请输入备注",rows="5") }}
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="text-center">
                    {{ form.submit_add(class="btn btn-info offset-2", style="width: 120px") }}
                    <a role="button" class="btn btn-default" href="{{ url_for('admin.users_view') }}" style="width: 120px;">返回</a>
                </div>
                <!-- /.card-footer -->
            </form>
        </div>
    </div>
{% endblock %}