<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>嘟啦购物商城</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="{{ url_for('static',filename='libs/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/app.css') }}">

</head>
<body>
<div class="container wrapper-content">
    <header>
        <nav class="navbar navbar-default header-nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img alt="logo" src="{{ url_for('static',filename='imgs/logo.jpg') }}">
                </div>
                <p class="navbar-text"><strong>嘟啦购物商城</strong></p>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
                    <li><a href="#">订单</a></li>
                    <li><a href="#">购物车</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="carousel-container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{{ url_for('static',filename='imgs/1.png') }}" alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static',filename='imgs/2.png') }}" alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static',filename='imgs/3.png') }}" alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">向前</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">向后</span>
            </a>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            商品展示
        </div>
        <div class="panel-body">
            <ul class="list-unstyled search-bar">
                <li class="search-item">
                    类别:
                    <ul class=" list-unstyled  list-inline">
                        <li><a class="center-block" href="#">电脑</a></li>
                        <li><a class="center-block" href="#">服装</a></li>
                        <li><a class="center-block" href="#">家电</a></li>
                        <li><a class="center-block" href="#">书籍</a></li>
                        <li><a class="center-block" href="#">化妆品</a></li>
                    </ul>
                </li>
                <li class="search-item">
                    价格:
                    <ul class="list-unstyled list-inline">
                        <li><a href="#" class="center-block">0~3999</a></li>
                        <li><a href="#" class="center-block">4000-4999</a></li>
                        <li><a href="#" class="center-block">5000-6999</a></li>
                        <li><a href="#" class="center-block">7000-8999</a></li>
                        <li><a href="#" class="center-block">9000以上</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="list-unstyled clearfix shop-list">
                <li class="shop-item">
                    <div class="shop-item-title text-center">
                        <a href="#"> <img src="https://img14.360buyimg.com/n7/jfs/t1/99585/18/8291/240913/5e0450a9Eddb8d010/51759aca5f5b26e2.jpg"
                             alt="图片"></a>
                    </div>
                    <div class="shop-item-price text-price"><em>￥</em>4500.00</div>
                    <div class="shop-item-desc">
                        <a href="#">联想(Lenovo)拯救者Y7000P这是是测试字段</a>
                    </div>
                    <div class="shop-item-footer">
                        <a class="pull-right btn-cart text-center" href="#">加入购物车</a>
                    </div>
                </li>
                <li class="shop-item">
                    <div class="shop-item-title text-center">
                        <a href="#"> <img src="https://img13.360buyimg.com/n7/jfs/t1/41579/36/1094/201211/5cc51607E2e6dcf1b/147afe82fc5af7e8.jpg"
                                          alt="图片"></a>
                    </div>
                    <div class="shop-item-price text-price"><em>￥</em>4500.00</div>
                    <div class="shop-item-desc">
                        <a href="#">联想(Lenovo)拯救者Y7000P这是是测试字段</a>
                    </div>
                    <div class="shop-item-footer">
                        <a class="pull-right btn-cart text-center" href="#">加入购物车</a>
                    </div>
                </li>
                <li class="shop-item">
                    <div class="shop-item-title text-center">
                        <a href="#"> <img src="https://img11.360buyimg.com/n7/jfs/t1/52208/11/14456/453762/5db7b9cbE4a5306b4/d07aa92378655ab7.jpg"
                             alt="图片"></a>
                    </div>
                    <div class="shop-item-price text-price"><em>￥</em>4500.00</div>
                    <div class="shop-item-desc">
                        <a href="#">联想(Lenovo)拯救者Y7000P这是是测试字段</a>
                    </div>
                    <div class="shop-item-footer">
                        <a class="pull-right btn-cart text-center" href="#">加入购物车</a>
                    </div>
                </li>
                <li class="shop-item">
                    <div class="shop-item-title text-center">
                        <a href="#"> <img src="https://img11.360buyimg.com/n7/jfs/t1/52208/11/14456/453762/5db7b9cbE4a5306b4/d07aa92378655ab7.jpg"
                             alt="图片"></a>
                    </div>
                    <div class="shop-item-price text-price"><em>￥</em>4500.00</div>
                    <div class="shop-item-desc">
                        <a href="#">联想(Lenovo)拯救者Y7000P这是是测试字段</a>
                    </div>
                    <div class="shop-item-footer">
                        <a class="pull-right btn-cart text-center" href="#">加入购物车</a>
                    </div>
                </li>
                <li class="shop-item">
                    <div class="shop-item-title text-center">
                        <a href="#"> <img src="https://img13.360buyimg.com/n7/jfs/t1/50726/15/1257/215083/5cef90f6Efef722f6/acc3a18650404548.jpg"
                             alt="图片"></a>
                    </div>
                    <div class="shop-item-price text-price"><em>￥</em>4500.00</div>
                    <div class="shop-item-desc">
                        <a href="#">联想(Lenovo)拯救者Y7000P这是是测试字段</a>
                    </div>
                    <div class="shop-item-footer">
                        <a class="pull-right btn-cart text-center" href="#">加入购物车</a>
                    </div>
                </li>
                <li class="shop-item">
                    <div class="shop-item-title text-center">
                        <a href="#"> <img src="https://img12.360buyimg.com/n7/jfs/t1/61358/6/10714/238243/5d845102Ecf63a7c2/3d45d4e8dd86c948.jpg"
                             alt="图片"></a>
                    </div>
                    <div class="shop-item-price text-price"><em>￥</em>4500.00</div>
                    <div class="shop-item-desc">
                        <a href="#">联想(Lenovo)拯救者Y7000P这是是测试字段</a>
                    </div>
                    <div class="shop-item-footer">
                        <a class="pull-right btn-cart text-center" href="#">加入购物车</a>
                    </div>
                </li>
                <li class="shop-item">
                    <div class="shop-item-title text-center">
                        <a href="#"> <img src="https://img12.360buyimg.com/n7/jfs/t1/94836/29/12580/248272/5e4b47a7E8d570efc/da5df1c9566e5eaf.jpg"
                             alt="图片"></a>
                    </div>
                    <div class="shop-item-price text-price"><em>￥</em>4500.00</div>
                    <div class="shop-item-desc">
                        <a href="#">联想(Lenovo)拯救者Y7000P这是是测试字段</a>
                    </div>
                    <div class="shop-item-footer">
                        <a class="pull-right btn-cart text-center" href="#">加入购物车</a>
                    </div>
                </li>
                <li class="shop-item">
                    <div class="shop-item-title text-center">
                        <a href="#"> <img src="https://img12.360buyimg.com/n7/jfs/t1/94836/29/12580/248272/5e4b47a7E8d570efc/da5df1c9566e5eaf.jpg"
                             alt="图片"></a>
                    </div>
                    <div class="shop-item-price text-price"><em>￥</em>4500.00</div>
                    <div class="shop-item-desc">
                        <a href="#">联想(Lenovo)拯救者Y7000P这是是测试字段</a>
                    </div>
                    <div class="shop-item-footer">
                        <a class="pull-right btn-cart text-center" href="#">加入购物车</a>
                    </div>
                </li>
                <li class="shop-item">
                    <div class="shop-item-title text-center">
                        <a href="#"> <img src="https://img11.360buyimg.com/n7/jfs/t1/101687/14/10610/285917/5e1d14e5E0adeee22/b519e197c0e82ccd.jpg"
                             alt="图片"></a>
                    </div>
                    <div class="shop-item-price text-price"><em>￥</em>4500.00</div>
                    <div class="shop-item-desc">
                        <a href="#">联想(Lenovo)拯救者Y7000P这是是测试字段</a>
                    </div>
                    <div class="shop-item-footer">
                        <a class="pull-right btn-cart text-center" href="#">加入购物车</a>
                    </div>
                </li>
                <li class="shop-item">
                    <div class="shop-item-title text-center">
                        <a href="#"> <img src="https://img11.360buyimg.com/n7/jfs/t1/101687/14/10610/285917/5e1d14e5E0adeee22/b519e197c0e82ccd.jpg"
                             alt="图片"></a>
                    </div>
                    <div class="shop-item-price text-price"><em>￥</em>4500.00</div>
                    <div class="shop-item-desc">
                        <a href="#">联想(Lenovo)拯救者Y7000P这是是测试字段</a>
                    </div>
                    <div class="shop-item-footer">
                        <a class="pull-right btn-cart text-center" href="#">加入购物车</a>
                    </div>
                </li>
                <li class="shop-item">
                    <div class="shop-item-title text-center">
                        <a href="#"> <img src="https://img12.360buyimg.com/n7/jfs/t1/61358/6/10714/238243/5d845102Ecf63a7c2/3d45d4e8dd86c948.jpg"
                             alt="图片"></a>
                    </div>
                    <div class="shop-item-price text-price"><em>￥</em>4500.00</div>
                    <div class="shop-item-desc">
                        <a href="#">联想(Lenovo)拯救者Y7000P这是是测试字段</a>
                    </div>
                    <div class="shop-item-footer">
                        <a class="pull-right btn-cart text-center" href="#">加入购物车</a>
                    </div>
                </li>
                <li class="shop-item">
                    <div class="shop-item-title text-center">
                        <a href="#"> <img src="https://img12.360buyimg.com/n7/jfs/t1/94836/29/12580/248272/5e4b47a7E8d570efc/da5df1c9566e5eaf.jpg"
                             alt="图片"></a>
                    </div>
                    <div class="shop-item-price text-price"><em>￥</em>4500.00</div>
                    <div class="shop-item-desc">
                        <a href="#">联想(Lenovo)拯救者Y7000P这是是测试字段</a>
                    </div>
                    <div class="shop-item-footer">
                        <a class="pull-right btn-cart text-center" href="#">加入购物车</a>
                    </div>
                </li>
                <li class="shop-item">
                    <div class="shop-item-title text-center">
                        <a href="#"> <img src="https://img12.360buyimg.com/n7/jfs/t1/94836/29/12580/248272/5e4b47a7E8d570efc/da5df1c9566e5eaf.jpg"
                             alt="图片"></a>
                    </div>
                    <div class="shop-item-price text-price"><em>￥</em>4500.00</div>
                    <div class="shop-item-desc">
                        <a href="#">联想(Lenovo)拯救者Y7000P这是是测试字段</a>
                    </div>
                    <div class="shop-item-footer">
                        <a class="pull-right btn-cart text-center" href="#">加入购物车</a>
                    </div>
                </li>
                <li class="shop-item">
                    <div class="shop-item-title text-center">
                        <a href="#"> <img src="https://img11.360buyimg.com/n7/jfs/t1/101687/14/10610/285917/5e1d14e5E0adeee22/b519e197c0e82ccd.jpg"
                             alt="图片"></a>
                    </div>
                    <div class="shop-item-price text-price"><em>￥</em>4500.00</div>
                    <div class="shop-item-desc">
                        <a href="#">联想(Lenovo)拯救者Y7000P这是是测试字段</a>
                    </div>
                    <div class="shop-item-footer">
                        <a class="pull-right btn-cart text-center" href="#">加入购物车</a>
                    </div>
                </li>
                <li class="shop-item">
                    <div class="shop-item-title text-center">
                        <a href="#"> <img src="https://img11.360buyimg.com/n7/jfs/t1/101687/14/10610/285917/5e1d14e5E0adeee22/b519e197c0e82ccd.jpg"
                             alt="图片"></a>
                    </div>
                    <div class="shop-item-price text-price"><em>￥</em>4500.00</div>
                    <div class="shop-item-desc">
                        <a href="#">联想(Lenovo)拯救者Y7000P这是是测试字段</a>
                    </div>
                    <div class="shop-item-footer">
                        <a class="pull-right btn-cart text-center" href="#">加入购物车</a>
                    </div>
                </li>
            </ul>
            <nav aria-label="Page navigation" class="shop-pagination">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                     <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='libs/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='libs/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>